body{
    background-color: #f2f2f2;
}

#BarContainer,#Grade{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    background-color: #ffffff;
}
.valueDiv{
    height: 8%;
    padding: 5px;
}

.mainValueDiv{
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    box-shadow: 2px 6px #888888;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 30%;
}

.ValueLabel{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4d4d4d;
}
.ValueAmount{
    text-align: center;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#1aa3ff;
}
.btnSubmit{
    background-color: #1aa3ff;
}
#GradeValue,#gradeLabel{
    display:none;
}